<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- Connect to the Database - MS SQL Server -->
      <!-- Last Edited: 05/14/2016 by Austin Caldwell -->
      <add name="connectionString" connectionString="Server=AUSTINC-LAPTOP\SQLEXPRESS;Database=YellowBucketCSC365;User Id=sa; Password=Admin1;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>